<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Audify</title>
    <link rel="stylesheet" href="~/mini/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/mini/css/bootstrap.css" />
    <link rel="stylesheet" href="~/mini/css/master_style.css" />
    <link rel="stylesheet" href="~/mini/css/fullcalendar.min.css" />
    <link rel="stylesheet" href="~/mini/css/_all-skins.css" />
</head>
<body class="sidebar-mini wysihtml5-supported skin-blue fixed" style="height: auto; min-height: 100%;">
    <div class="wrapper" style="height: auto; min-height: 100%;">
        <partial name="_Header" />
        <partial name="_LeftMenu" />


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper" style="min-height: 1165px;">
            @RenderBody()
        </div>
        <partial name="_Footer" />
    </div>




    <!--<div class="wrapper" style="height: auto; min-height: 100%;">
    <header>
         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
             <div class="container">
                 <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TrustRMS</a>
                 <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                         aria-expanded="false" aria-label="Toggle navigation">
                     <span class="navbar-toggler-icon"></span>
                 </button>
                 <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                     <partial name="_LoginPartial" />
                     <ul class="navbar-nav flex-grow-1">
                         <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                         </li>
                         <li class="nav-item">
                             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                         </li>
                     </ul>
                 </div>
             </div>
         </nav>
     </header>
     <div class="container">
         <main role="main" class="pb-3">

         </main>
     </div>

     <footer class="border-top footer text-muted">
         <div class="container">
             &copy; 2020 - TrustRMS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
         </div>
     </footer>-->
    <script src="~/mini/js/jquery.min.js"></script>
    <script src="~/mini/js/jquery.dataTables.min.js"></script>
    <script src="~/mini/js/dataTables.bootstrap.min.js"></script>
    <script src="~/mini/js/popper.min.js"></script>
    <script src="~/mini/js/bootstrap.min.js"></script>
    <script src="~/mini/js/jquery.slimscroll.min.js"></script>
    <script src="~/mini/js/fastclick.js"></script>
    <script src="~/mini/js/template.js"></script>
    <script src="~/mini/js/demo.js"></script>
    <script src="~/mini/js/moment.js"></script>
    <script src="~/mini/js/data-table.js"></script>
    <script src="~/mini/js/fullcalendar.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
