@model AudifyProject.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}

<section class="content-header">
    <h3>Change Password</h3>
</section>
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h4 class="box-title">Change Password</h4>
        </div>
        <div class="box-body">
            <form asp-action="UserChangePassword" id="mainForm">
                <div class="row">
                    <input type="hidden" asp-for="UserId" />
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="UserName">User Name</label>
                            <input class="form-control" type="text" asp-for="UserName" readonly />
                        </div>
                        <div class="form-group">
                            <label asp-for="Password">New Password</label>
                            <input type="password" asp-for="Password" class="form-control" />
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" />
                            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" class="btn btn-success" value="Update" />
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
</section>

<div>


</div>

@section scripts{

    <script>
        $(document).ready(function () {
            $("#transactionList").addClass("active");
        });
    </script>
}
